body{
    background-color: #eeeeee;
}
.container{
    max-width: 600px;
    box-shadow: 4px 4px 4px #bbbbbb;
    background-color: white;
    padding: 18px;
}
.content p{
    text-indent: 2em;
    line-height: 2;
    color: #666666;
}
.content img{
    max-width: 90%;
}
.back{
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 5px 5px 5px #bbbbbb;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}
.back:hover{
    cursor: pointer;
}